.App {
  text-align: center;
}

/* .container {
  outline: solid 2px blue;
} */

.restuarant-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
}

.restuarant-list-container p {
  display: flex;
  list-style: none;
  /* margin-right: 15px; */
  font-size: 15px;
}
