.App {
  text-align: center;
}

::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

.container {
  padding: 0 25px 25px 25px;
}

label {
  font-weight: bold;
  font-size: 20px;
  color: #158ff3;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px 2px #045aa0;
  color: #158ff3;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: #158ff3;
  text-shadow: 2px 2px 2px #045aa0;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  color: #158ff3;
}

p {
  font-size: 20px;
  font-style: italic;
  color: #158ff3;
}

ul {
  margin-top: -20px;
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: #158ff3;
}

#map {
  height: 500px;
  width: 100%;
  margin-top: 25px;
}

#map:hover {
  box-shadow: 0 0 10px #000;
}

.form-container {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.form-container p {
  margin: -4px;
  font-size: 15px;
}

.slider {
  cursor: pointer;
  height: 25px;
}

.location-input {
  height: 25px;
  border-radius: 5px;
  outline: none;
  border-color: #048dfdad;
  color: #158ff3;
}

.location-input:hover {
  box-shadow: 0 0 10px #008cff91;
}

.gen-btn {
  cursor: pointer;
  border-radius: 25px;
  height: 40px;
  border: none;
  font-size: 20px;
  box-shadow: 2px 2px 2px #000;
  background-color: #96cbf7;
  color: white;
  text-shadow: 2px 2px 2px #000;
}

.gen-btn:hover {
  background-color: #003b6b;
}
